---
import ConsumoElectrico from "../assets/images/howTo/electrico.png";
import Transporte from "../assets/images/howTo/transporte.png";
import Dieta from "../assets/images/howTo/dieta.png";
import Resultado from "../assets/images/howTo/grafico.png";
import Rig from "../assets/images/howTo/rig-feliz.png";
---

<section
  class="flex flex-col items-center gap-6 justify-between py-4 md:py-16 px-4 md:px-[150px] mx-auto my-auto max-w-[1440px]"
>
  <h2 class="text-center text-xl md:text-3xl font-bold">
    ¿Cómo <span class="text-huella-text-green">calcular tu huella</span>?
  </h2>
  <div class="flex flex-col md:flex-row gap-4 md:justify-between w-full">
    <div class="flex flex-col items-center gap-4">
      <img
        src={ConsumoElectrico.src}
        alt="Imagen Consumo electrico"
        width={118}
        height={118}
        class="h-20 w-auto md:h-auto"
      />
      <span class="text-center text-base md:text-2xl">Consumo eléctrico</span>
    </div>
    <div class="flex flex-col items-center gap-4">
      <img
        src={Transporte.src}
        alt="Imagen Transporte"
        width={118}
        height={118}
        class="h-20 w-auto md:h-auto"
      />
      <span class="text-center text-base md:text-2xl">Transporte</span>
    </div>
    <div class="flex flex-col items-center gap-4">
      <img
        src={Dieta.src}
        alt="Imagen Dieta"
        width={118}
        height={118}
        class="h-20 w-auto md:h-auto"
      />
      <span class="text-center text-base md:text-2xl">Dieta</span>
    </div>
  </div>
  <p class="text-center text-base md:text-2xl max-w-[460px]">
    Llenando un <strong>formulario</strong>, la app <strong
      >calculará tu huella en kg de CO2</strong
    >!.
  </p>
  <div class="flex flex-col md:flex-row items-center gap-4 md:gap-32">
    <img
      src={Resultado.src}
      alt="Imagen Resultado"
      width={270}
      height={100}
      class="h-24 md:h-36 w-auto"
    />
    <img src={Rig.src} alt="Imagen Rig" width={240} height={240} class="h-36 w-auto"/>
  </div>
</section>
