---
import Cellphone from "../assets/images/cellphone.png";
import GoogleBtn from "../assets/images/GooglePlay Button.png";
import HuellaHidricaBtn from "../assets/images/huella-hidrica.png";
import AppStoreBtn from "../assets/images/AppStore Button.png";
---

<main class="min-h-screen w-full bg-huella-text-gray-ligth flex flex-col justify-center overflow-x-hidden py-10 lg:py-0">
  
  <article class="container mx-auto px-4 lg:px-[100px] flex flex-col lg:flex-row items-center justify-center gap-8 lg:gap-20 h-full">
    
    <div class="flex flex-col gap-6 items-center lg:w-1/2 z-10">
      
      <h1 class="text-center text-4xl lg:text-6xl font-bold text-pretty animate-fade-up leading-tight">
        ¡Calcula tu <span class="text-huella-text-green">impacto ambiental personal!</span>
      </h1>

      <div class="relative block lg:hidden w-full max-w-[320px] mx-auto mt-4 mb-2 animate-fade-up">
        <img
          src={Cellphone.src}
          alt="App Mi Huella en celulares"
          class="w-full h-auto drop-shadow-xl"
          loading="eager"
        />
        <a href="/feature/calculadora-huella-hidrica" class="absolute -bottom-4 -right-4 w-[38%] transition-transform hover:scale-105">
            <img
            src={HuellaHidricaBtn.src}
            alt="Calcula tu huella hídrica"
            class="w-full h-auto drop-shadow-lg opacity-90 hover:opacity-100"
            />
        </a>
      </div>

      <p class="text-base lg:text-xl text-center text-huella-text-gray max-w-[600px] text-pretty animate-fade-up animate-delay-100">
        Mi Huella es la app que mide tu huella de carbono y huella hídrica, ayudándote a comprender cómo tus hábitos diarios influyen en el planeta.
      </p>
      
      <strong class="text-lg lg:text-xl text-center text-huella-text-gray animate-fade-up animate-delay-100 italic">
        “Lo que no se mide, no se mejora”
      </strong>

      <div class="flex flex-row flex-wrap items-center justify-center gap-3 mt-4 w-full">
        <a
          href="https://play.google.com/store/apps/details?id=org.labtecnosocial.mihuella"
          class="transition-transform transform hover:scale-105 duration-300 w-[45%] max-w-[160px]"
        >
          <img
            src={GoogleBtn.src}
            alt="Google play"
            width={200}
            height={60}
            loading="lazy"
            class="h-auto w-full"
          />
        </a>

        <a
          href="https://apps.apple.com/us/app/mi-huella-en-el-planeta/id6748420106"
          class="transition-transform transform hover:scale-105 duration-300 w-[45%] max-w-[160px]"
        >
          <img
            src={AppStoreBtn.src}
            alt="App Store"
            width={180}
            height={60}
            loading="lazy"
            class="h-auto w-full"
          />
        </a>
      </div>
    </div>

    <div class="hidden lg:flex lg:w-1/2 justify-center items-center relative animate-fade-left">
      <div class="relative w-auto">
          <img
            src={Cellphone.src}
            alt="Imagen celular"
            class="max-h-[600px] h-auto drop-shadow-2xl"
            loading="lazy"
          />
          <a href="/feature/calculadora-huella-hidrica" class="absolute bottom-10 -right-12 w-[30%] hover:scale-105 transition-transform duration-300">
            <img
                src={HuellaHidricaBtn.src}
                alt="Calcula tu huella hídrica"
                class="w-full h-auto drop-shadow-lg"
            />
          </a>
      </div>
    </div>

  </article>
</main>