---
import ConsumoElectrico from "../assets/images/howTo/electrico.png";
import Transporte from "../assets/images/howTo/transporte.png";
import Dieta from "../assets/images/howTo/dieta.png";
import Residuos from "../assets/images/howTo/residuos.png";
import CaculateCard from "../components/CaculateCard.astro";
import Resultado from "../assets/images/howTo/grafico.png";
import Rig from "../assets/images/howTo/rig-feliz.png";
import Semaforo from "../assets/images/Rango semáforo de 5 colores.png";
---

<section
  id="calcular"
  class=" flex flex-col items-center gap-2 justify-between py-4 md:py-16 px-4 md:px-[100px] mx-auto my-auto max-w-[1440px] scroll-m-10"
>
  <h1 class="text-center text-xl md:text-6xl font-bold">
    Calculadora de Huella de Carbono  </h1>
    <h2 class="md:text-2xl">La prueba dura aproximadamente 5 minutos</h2>
    <h2 class="md:text-2xl">Mide tus emisiones de CO₂ en base a cuatro categorías clave:</h2>
  <div class="flex flex-col md:flex-row  gap-2 md:justify-around w-full">
    <CaculateCard
      img={ConsumoElectrico.src}
      text="Energía"
      altImg="Energía"
      withImg="100px"
      stylesComponent="md:h-auto mt-5 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />

    <CaculateCard
      img={Transporte.src}
      text="Transporte"
      altImg="Imagen Transporte"
      withImg="100px"
      stylesComponent="md:h-auto mt-5 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />

    <CaculateCard
      img={Dieta.src}
      text="Dieta"
      altImg="Imagen Dieta"
      withImg="100px"
      stylesComponent="md:h-auto mt-5 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />
        <CaculateCard
      img={Residuos.src}
      text="Residuos"
      altImg="Imagen Residuos"
      withImg="100px"
      stylesComponent="md:h-auto mt-5 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />
  </div>
  <img  
        src={Semaforo.src}
        alt="Imagen Transporte"
        width="25%"
        class="m-0 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent"
      />
    <h3 class="text-center text-base md:text-2xl max-w-[800px]">
     Descubre cómo pequeños cambios pueden reducir significativamente 
tu huella de carbono.
    </h3>

 
</section>
