---
import ConsumoElectrico from "../assets/images/howTo/electrico.png";
import Transporte from "../assets/images/howTo/transporte.png";
import Dieta from "../assets/images/howTo/dieta.png";
import CaculateCard from "../components/CaculateCard.astro";
import Resultado from "../assets/images/howTo/grafico.png";
import Rig from "../assets/images/howTo/rig-feliz.png";
import Semaforo from "../assets/images/Rango semáforo de 5 colores.png";
---

<section
  id="calcular"
  class="flex flex-col items-center gap-6 justify-between py-4 md:py-16 px-4 md:px-[150px] mx-auto my-auto max-w-[1440px] scroll-m-10"
>
  <h1 class="text-center text-xl md:text-6xl font-bold my-20">
    ¿Cómo <span class="text-huella-text-green">calcular tu huella</span>?
  </h1>
  <div class="flex flex-col md:flex-row mb-20 gap-2 md:justify-between w-full">
    <CaculateCard
      img={ConsumoElectrico.src}
      text="Consumo Electrico"
      altImg="Consumo Electrico"
      withImg="150px"
      stylesComponent="md:h-auto transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />

    <CaculateCard
      img={Transporte.src}
      text="Transporte"
      altImg="Imagen Transporte"
      withImg="200px"
      stylesComponent="md:h-auto mt-5 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />

    <CaculateCard
      img={Dieta.src}
      text="Dieta"
      altImg="Imagen Dieta"
      withImg="150px"
      stylesComponent="md:h-auto transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent mb-30"
    />
  </div>
  <img  
        src={Semaforo.src}
        alt="Imagen Transporte"
        width="35%"
        class="m-0 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent"
      />
    <strong class="text-center text-base md:text-4xl max-w-[600px]">
      Llenando un <span class="text-[rgb(0,110,79)]">formulario</span>, la app <span
        class="text-[rgb(0,110,79)]">calculará tu huella en kg de CO2</span
      >!.
    </strong>
  <!-- <div class="flex flex-col md:flex-row items-center gap-4 md:gap-32">
    <img
      src={Resultado.src}
      alt="Imagen Resultado"
      width={270}
      height={50}
      class="h-24 md:h-36 w-30"
    />
    <img
      src={Rig.src}
      alt="Imagen Rig"
      width={240}
      height={240}
      class="h-36 w-30"
    />
  </div> -->
 
</section>
